body {
    padding-bottom: 40px;
}

.note_form_section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-left: 30px;
    margin-bottom: 40px;
}

.note_form_section label {
    display: inline-block;
    padding: 2px 6px;
    background-color: rgb(223, 234, 255);
    color: rgb(68, 82, 108);
    font-size: 28px;
}

.note_form_section input {
    width: 295px;
    height: 46px;
    padding: 8px 10px;
    border: 2px solid rgb(170, 170, 170);
    border-radius: 6px;
    background-color: white;
    font-size: 22px;
}

.note_form_section button {
    width: 210px;
    height: 48px;
    border: 2px solid rgb(157, 157, 157);
    border-radius: 6px;
    background-color: rgb(236, 236, 236);
    color: rgb(68, 82, 108);
    font-size: 22px;
    cursor: pointer;
}

.note_form_section button:hover {
    background-color: rgb(226, 226, 226);
}

.notes_section {
    margin-bottom: 18px;
}

.notes_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}